[submodule "solomon"]
	path = input/solomon
	url = git@gin.g-node.org:/LAAC-LSCP/solomon.git
	datalad-id = e9dbf182-7566-453c-b0d3-2e2faf439526
	datalad-url = git@gin.g-node.org:/LAAC-LSCP/tsimane2017.git
[submodule "input/vanuatu"]
	path = input/vanuatu
	url = git@gin.g-node.org:/LAAC-LSCP/vanuatu.git
	datalad-id = e6789925-03aa-490a-b832-db7dd64da7b5
	datalad-url = git@gin.g-node.org:/LAAC-LSCP/vanuatu.git
[submodule "input/png2019"]
	path = input/png2019
	url = git@gin.g-node.org:/LAAC-LSCP/png2019.git
	datalad-id = 3450d8e0-8da1-472d-8f10-192c9007eaee
	datalad-url = git@gin.g-node.org:/LAAC-LSCP/tsimane2017.git
